<!DOCTYPE html>
<html>
<head>
  <title>Saas1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-brand">
				<i class="fa fa-hand-lizard-o fa-1g"></i>
				<%= link_to 'Dev Match', root_path %>
			</div>
			
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to 'New Contact', new_contact_path %></li>
				<li><%= link_to 'About', about_path  %></li>
			</ul>
		</div>
	</div>

	<div class="container">
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, class: "alert alert-#{name}") do %>
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<%= msg %>
			<% end %>
		<% end %>


		<%= yield %>	
	</div>
	

</body>
</html>
